<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini khatabook</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <main class="bg-red-100 w-full min-h-screen ">
       
            <nav class="justify-between flex bg-red-300 px-2 py-5">
                <div>
                    <a href="/"><h3 class="text-2xl tracking-tight ">Bahikhata</h3></a>
                </div>
                <div class="navlinks flex gap-5">
                    <a href="/" class="tracking-tight">Home</a>
                    <a href="/create" class="tracking-tight">Create New Hisaab</a>
                </div>
            </nav>